<nav class="bg-light-gray">
    <div class="max-w-7xl mx-auto border border-black">
        <div class="flex justify-between">
            <div>1</div>
            <div>2</div>
            <div>3</div>
        </div>
    </div>
    
</nav>

